
@charset "UTF-8";

body {
margin: 0;
padding: 0;
-ms-text-size-adjust: none;
-webkit-font-smoothing:antialiased;
-webkit-text-size-adjust:none;
line-height: 18px;
}

.bodyLinks a {
color: #1976D2;
font-family: Helvetica, Arial, sans-serif ;
font-size: 14px;
font-weight: normal;
text-decoration: none;
line-height: 22px;
}

.title a {b
color: #1976D2;
font-family: Helvetica, Arial, sans-serif ;
font-size: 18px;
font-weight: bold;
text-decoration: none;
line-height: 22px;
}

a{
color:#1976D2;
font-family: Helvetica, Arial, sans-serif;
text-decoration: none;
line-height: 22px;
}
 a img{border:none !important;}
/*headine link height adjust*/
.a_bt {
line-height: 15px;
}

.headerLine {
	font-family:  Helvetica, Arial, sans-serif;
	font-size:24px;
	font-weight:bold;
	color:#494949;
	padding-top: 10px;
	text-transform: uppercase;
	border:5px solid white;
	text-align: center;

}

.tableTextMobile {
	width: 85%
}


.adLinks a {
	font-weight: bold;
}

p {
	margin: 0in;
	padding:0;
	margin-bottom:0;
	line-height: 18px;
}

* { font-family: Helvetica, Arial, sans-serif; }

.highlightDarkText {
	font-family:  Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	padding: 10px 0 10px 0;
	color: #ffffff;
}

.body-text {
font-family:  Helvetica, Arial, sans-serif;
font-size: 14px;
color: #494949;
line-height: 20px;
}

.textOnly p {
	padding: 20px 0;
}

.articles {
	border-bottom: 1px solid #cccccc;
}

table {
border-spacing: 0;
mso-table-lspace: 0pt;
mso-table-rspace: 0pt;
border-collapse: collapse;
}
table td {
border-collapse: collapse;
mso-table-lspace: 0pt;
mso-table-rspace: 0pt;
}
ul,li {
	margin-top: 2px !important;
	margin-bottom: 2px !important;
}
.ExternalClass {
width: 100%;
}
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
line-height: 100%;
}
.ReadMsgBody {
width: 100%;
background-color: #ebebeb;
}

img {
-ms-interpolation-mode: bicubic;
}

.advertisingLinks {
	font-size: 13px;
	line-height: 18px;
}

.advertisingLinks a {
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
}
.advertisingLinks .featureBox a{
	font-size: 16px;
}
.advertisingLinks .featureBox.body-text {
    font-size: 12px;
}
.advertisingLinks .headerLine {
  font-size: 14px;
	color: #888888;
	text-transform: uppercase !important;
}

/*.itemSpacing{
	 padding: 15px 5 15px 5;
}*/
.adSpacing {
	padding: 0 0 5px 0;
}
.yshortcuts a {
border-bottom: none !important;
}
@media screen and (max-width: 599px) {
table[class="force-row"],
table[class="container"] {
width: 100% !important;
max-width: 100% !important;
}
}
/*ADDED - TOP LINKS*/
.main_cta img { width: 100%; height: auto !important; }
/* Top Links Navigation Pattern CSS */
@media only screen and (max-width: 600px) {
td[class="main_nav"] td {
display: inline-block;
}
}
/* Basic Fluid Image Pattern CSS */
@media only screen and (max-width: 599px) {
img.pattern {
max-width: 100%;
min-width: 100px;
height: auto !important;
width: auto;
}
}
@media screen and (max-width: 400px) {
td[class*="container-padding"] {
padding-left: 5px !important;
padding-right: 5px !important;
}
 table[class="headeRow"] td div[class="title"]{font-size:27px !important}
      table[class="headeRow"] td div[class="subtitle"]{font-size:14px !important}
      table[class="headeRow"] td img{max-width:60px;}
      .hideMobile{display:none;}

/*ad - hide image and center text*/
.awaywithYou {
display: none !important;
}
.admobile {
text-align: center;
}
table[class="admobile"] {
    margin: 0 auto;
    text-align: center;
}
/*share button mobile padding*/
.shareButtons {
padding-bottom: 10px;
}
.tableTextMobile {
	width: 100%;
}
}
.ios-footer a {
color: #aaaaaa !important;
text-decoration: underline;
}
