<link rel="stylesheet" href="https://cdn.shrm.org/raw/upload/v1521514461/Newsletter/PublishThisCode/enewsletter.css" type="text/css" />


<table align="left" cellspacing="0" cellpadding="0" border="0" style="width:100%;max-width:600px" class="container">
    <tbody>
    	<tr>
    		<td width="100%">
  				<!--START latest news-->
				<table align="left" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" style="width:100%;max-width:600px" class="container bodyLinks bbTest">

				{{#each sections}}
                   
        	{{#ifEqual this.sectionId "headimg"}}
        	 <!--	headimg	-->
						{{#each items}}
              {{#ifEqual this.contentType "photo"}}
		            <!--	photo	-->
		            {{#if this.imageUrl}}
		            	<!--	imageUrl	-->
									<tr>
										<td>
											<img style="max-width: 600px;" src="{{{this.imageUrl}}}" alt="{{{this.photoCaption}}}">										
										</td>
									</tr>
								{{/if}}

							{{/ifEqual}}    
						{{/each}}
          	<!--	headimg	END-->
           {{/ifEqual}}
                 
                 
                  {{#ifEqual this.sectionId "signature1"}}
									 <!--	signature	-->
										{{#each items}}
											{{#ifEqual this.contentType "article"}}												
													<tr>
														<td align="center" style="text-align: center; padding: 15px 20px 15px">
															<table cellpadding="10" style="margin-left: auto; margin-right: auto;">
																<tbody>
																	<tr>
																	{{#if this.imageUrl}}
																			<td align="right" style="text-align: right; padding: 0 10px">
																				<img width="60" height="60" style="max-width: 60px;" src="{{{this.imageUrl}}}" alt="{{{this.photoCaption}}}">
																			</td>
																		{{/if}}
																		{{#if this.summary}}
																		<td align="left" valign="middle"; style="padding: 0 10px"><div class="body-text">{{{this.summary}}}</div></td>
																		{{/if}}
																			
																	</tr>
																</tbody>
															</table>
																								
														</td>
													</tr>

											{{/ifEqual}}    
										{{/each}}
										<!--	signature END	-->
									 {{/ifEqual}}
                   
                   
                    {{#ifEqual this.sectionId "intro"}}
					{{#each items}} 
            	 
	            	 {{#ifEqual this.contentType "editorstake"}}
                    <!--	editors Take -->
	                    {{#if this.text}}
												<tr>
													<td align="left" valign="top" style="text-align:left;color:#333333;width:100%; padding:15px 20px 0;  /*border:20px solid white;  border-bottom: 1px solid white; border-top: 10px solid white;*/" class="col body-text itemSpacing editorsTake">
														<div class="body-text">
															 {{{this.text}}}
														</div>
													</td>
												</tr>
											{{/if}}
									{{/ifEqual}}           	                  

			            {{#ifEqual this.contentType "article"}}
	                    {{#if this.items.[0]}}
	                    <tr>
							<td align="left" style="font-family:  Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;color:#888888;padding-top: 0px; text-transform: uppercase; text-align: center; border:5px solid white;" class="header">
								
								{{#if this.items.[0].title}}
									<div class="headerLine">
										{{this.items.[0].title}}
									</div>
								{{/if}}
		                        
								{{#if this.items.[0].publisher}}<br>
								<span class="body-text">
								<i>{{this.items.[0].publisher}}</i>
								</span>
								{{/if}}
							</td>
						</tr>
	                    {{/if}}
						{{/ifEqual}}
						{{#ifEqual this.contentType "text"}}
							{{#if this.customFields.[0].checkBox1}}
									{{#ifEqual this.customFields.[0].checkBox1.[0] "featureBox"}}
										<tr>
											<td align="left" valign="top" style="color:#333333;width:100%;  background-color:#ffffff;" class="col body-text itemSpacing">
											<p></p>
											<table align="center" style="width:100%; max-width: 600px;line-height:20px;  border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container advertisingLinks" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
													<tbody>
													<tr>
											<td style="border:5px solid #EFEDED; padding: 20px;text-align:center;">
												<div class="headerLine" style="text-transform: none; padding-top: 0; padding-bottom: 20px;">{{{this.title}}}</div>
													<div style="text-align: left;" class="featureBox body-text">
														{{{this.text}}}
													</div>
													{{#if this.imageUrl}}
													<br>
													<div class="body-text">
														 Sincerely,
													</div>
													<img style="max-width: 200px;" src="{{{this.imageUrl}}}">
													<p></p>
													{{/if}}
													</td>
													</tr>
												</tbody>
												</table>
											</td>
										</tr>
									{{/ifEqual}}
									{{#ifEqual this.customFields.[0].checkBox1.[0] "highlighter"}}
									{{#if this.title}}
									<tr>
										<td align="left" style="font-family:  Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;color:#000000;padding-top: 10px; text-transform: uppercase; background-color:#f7e196; border:5px solid #f7e196;" class="header">
											<div class="headerline" style="border: 5px solid #f7e196">{{{this.title}}}</div>
										</td>
									</tr>
									{{/if}}
									{{#if this.text}}
									<tr>
										<td align="left" valign="top" style="text-align:left;color:#333333;width:100%; padding: 20px;" class="col body-text itemSpacing">
											<div class="body-text">
												 {{{this.text}}}
											</div>
											<p></p>
										</td>
									</tr>
									{{/if}}
									{{/ifEqual}}
							{{/if}}
						{{/ifEqual}}
					{{/each}}
                    {{/ifEqual}}
                {{/each}}
				<!--START leadarticle section-->
              	{{#each sections}}
	              {{#ifEqual this.sectionId "leadarticle"}}
	              {{#each items}}
	              	<!--START contentType heading-->
		            {{#ifEqual this.contentType "heading"}}
		            	<tr>
							<td align="left" style="font-family:  Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;color:#888888;padding-top: 0px; text-transform: uppercase; text-align: center; border:5px solid white;" class="header">
								<div class="headerLine">{{{this.title}}}</div>
							</td>
						</tr>
		            {{/ifEqual}}
		            <!--END contentType heading-->
		            {{#ifEqual this.contentType "article"}}
						<tr>
							<td align="left" valign="top" style="text-align:left;color:#333333;width:100%; /*border:5px solid white; padding-bottom: 7px; */ padding:  15px 20px 0 20px; /*border-bottom: 1px solid #cccccc;*/" class="col body-text itemSpacing">
									{{#if this.imageUrl}}
										<table align="left">
											<tbody>
												<tr>
													<td style="padding-right: 5px; padding-bottom:5px;">
														<img width="225" height="125" alt="" src="{{{this.imageUrl}}}?W=225&H=125" class="pattern"  align="left"/>
													</td>
												</tr>
											</tbody>
										</table>
									{{/if}}
									<div class="body-text aa" style="{{#if this.imageUrl}}margin-left:245px;{{/if}}"><span class="title" style="font-weight: bold; font-size: 18px;"><a href="{{{this.originalUrl}}}" style="font-size: 18px; color: #1976D2;">{{{this.title}}}</a></span>
									{{#if this.publisher}}<br>
									<i>{{this.publisher}}</i>
									{{/if}}
									{{#if this.summary}}
										<br /> {{{this.summary}}}
									{{/if}}

									</div>
									<p></p>

								{{#if this.customFields.[0].checkBox1}}
										{{#ifEqual this.customFields.[0].checkBox1.[0] "shareButtons"}}
											<!--START SOCIAL BUTTONS-->
											<div align="right" style="padding-top: 5px;">
												<!-- AddToAny BEGIN -->
												<a href="https://www.addtoany.com/share_save?linkurl={{{this.url}}}{{#urlEncode this.url}}{{/urlEncode}}&linkname=Check%20out%20this%20article%20from%20SHRM%20online"><img width="125" height="29" border="0" alt="Share" src="http://cdn.shrm.org/image/upload/v1468796384/Newsletter/SocialMediaIcons/socialmediashare.jpg" /></a>
												<!-- AddToAny END -->
											</div>
											<!--END SOCIALBUTTONS-->
										{{/ifEqual}}
									{{/if}}

							</td>
						</tr>
					{{/ifEqual}}
				  {{/each}}
	              {{/ifEqual}}
	          	{{/each}}
	          	<!-- END leadarticle section -->
				

				<!-- START article1 section -->
				{{#each sections}}
				{{#ifEqual this.sectionId "article1"}}
	            {{#each items}}
		            {{#ifEqual this.contentType "article"}}
						{{#if this.customFields.[0].tableRowDate}}
								<tr>
									<td style=" border-left: 1px solid #ececec; border-right: 1px solid #ececec;border-bottom: 1px solid #ececec;">
										<table width="14%" align="left">
											<tbody>
												<tr>
													<td style="padding-right: 20px; padding-left: 20px;  padding-top: 10px; padding-bottom: 10px; text-align: center;">
														{{#if this.title}}
														<span style="font-weight: bold; font-size: 14px; color: #666666; text-transform: uppercase; line-height: 14px;">{{{this.title}}}</span><br>
														{{/if}}
														<span style="font-weight: bold; font-size: 14px; color: #494949; text-transform: uppercase;line-height: 14px;">{{{this.embed}}}</span><br>
														<span style="font-size: 30px; color: #494949; text-transform: uppercase;line-height: 30px;">{{this.customFields.[0].tableRowDate}}</span>
													</td>
												</tr>
											</tbody>
										</table>
										<table width="84%" align="left">
											<tbody>
												<tr>
													<td style="padding-left: 20px; padding-right: 20px;  padding-top: 10px; padding-bottom: 10px; border-left: 1px solid #ececec;">
														<div class="body-text">
															{{{this.summary}}}
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
						{{else}}
						<tr>
								<td align="left" valign="top" style="text-align:left;color:#333333;width:100%; /*border:5px solid white; padding-bottom: 7px; */ padding:  15px 20px 0 20px; /*border-bottom: 1px solid #cccccc;*/" class="col body-text itemSpacing">
										{{#if this.imageUrl}}
											<table align="left">
												<tbody>
													<tr>
														<td style="padding-right: 5px; padding-bottom:5px;">
															<img width="110" height="62" alt="" src="{{{this.imageUrl}}}?W=110&H=62" class="pattern"  align="left"/>
														</td>
													</tr>
												</tbody>
											</table>
										{{/if}}
										<div class="body-text" style="{{#if this.imageUrl}}margin-left:130px;{{/if}}"><span class="title"  style="font-weight: bold"><a href="{{{this.originalUrl}}}" style="font-size: 18px; color: #1976D2;">{{{this.title}}}</a></span>
										{{#if this.publisher}}<br>
										<i>{{this.publisher}}</i>
										{{/if}}
										{{#if this.summary}}
											<br /> {{{this.summary}}}
										{{/if}}
										</div>
										<p></p>
								</td>
							</tr>
						{{/if}}
		            {{/ifEqual}}

		            <!--SECTION HEADING-->
		            {{#ifEqual this.contentType "heading"}}
		            	<tr>
							<td align="left" style="font-family:  Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;color:#888888;padding-top: 0px; text-transform: uppercase; text-align: center; border:5px solid white;" class="header">
								<div class="headerLine">{{{this.title}}}</div>
							</td>
						</tr>
		            {{/ifEqual}}
		            <!--END SECTION HEADING-->

		            {{#ifEqual this.contentType "text"}}
						{{#if this.customFields.[0].richText1}}
						<tr>
							<td align="left" style="font-family:  Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;color:#888888;padding-top: 0px; text-transform: uppercase; text-align: center; border:5px solid white;" class="header">
							<div class="headerLine">{{this.title}}</div>{{{this.text}}}<br>

							</td>
						</tr>
						{{/if}}
			            {{#if this.customFields.[0].highlighter}}
			            	<tr>
								<td align="left" valign="top" style="text-align:left;color:#333333;width:100%; border:5px solid #f7e196; background-color:#f7e196;" class="col body-text itemSpacing">
									<div class="body-text">
										 {{{this.title}}}<br><br>
										 {{{this.text}}}<br><br>
										 {{{this.customFields.[0].highlighter}}}
									</div>
									<p></p>
								</td>
							</tr>
						{{/if}}
						{{#if this.customFields.[0].checkBox1}}
							{{#ifEqual this.customFields.[0].checkBox1.[0] "option1"}}
								<tr>
									<td align="left" style="font-family:  Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;color:#888888;padding-top: 0px; text-transform: uppercase; text-align: center; border:5px solid white;" class="header">
									<div class="headerLine">Checkbox Success One</div>
									</td>
								</tr>
							{{/ifEqual}}
							{{#ifEqual this.customFields.[0].checkBox1.[0] "option2"}}
								<tr>
									<td align="left" style="font-family:  Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;color:#888888;padding-top: 0px; text-transform: uppercase; text-align: center; border:5px solid white;" class="header">
									<div class="headerLine">Checkbox Success Two</div>
									</td>
								</tr>
							{{/ifEqual}}
							{{#ifEqual this.customFields.[0].checkBox1.[0] "highlighter"}}
								{{#if this.title}}
								<tr>
									<td align="left" style="font-family:  Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;color:#000000;padding-top: 10px; text-transform: uppercase; background-color:#f7e196; border:5px solid #f7e196;" class="header">
										<div class="headerline">{{{this.title}}}</div>
									</td>
								</tr>
								{{/if}}
								{{#if this.text}}
								<tr>
									<td align="left" valign="top" style="text-align:left;color:#333333;width:100%; border:5px solid #f7e196; background-color:#f7e196;" class="col body-text itemSpacing">
										<div class="body-text">
											 {{{this.text}}}
										</div>
										<p></p>
									</td>
								</tr>
								{{/if}}
							{{/ifEqual}}
							{{#ifEqual this.customFields.[0].checkBox1.[0] "featureBox"}}
								<tr>
									<td align="left" valign="top" style="color:#333333;width:100%;  background-color:#ffffff;" class="col body-text itemSpacing">
									<p></p>
									<table align="center" style="width:100%; max-width: 600px;line-height:20px;  border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container advertisingLinks" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
											<tbody>
											<tr>
									<td style="border:5px solid #EFEDED; padding: 20px;text-align:center;">
										<div class="headerLine" style="text-transform: none; padding-top: 0; padding-bottom: 20px;">{{{this.title}}}</div>
											<div style="text-align: left;" class="featureBox body-text">
												{{{this.text}}}
											</div>
											{{#if this.imageUrl}}
											<br>
											<div class="body-text">
												 Sincerely,
											</div>
											<img style="max-width: 200px;" src="{{{this.imageUrl}}}">
											<p></p>
											{{/if}}
											</td>
											</tr>
										</tbody>
										</table>
									</td>
								</tr>
							{{/ifEqual}}
							{{#ifEqual this.customFields.[0].checkBox1.[0] "featuredData"}}
								<tr>
									<td align="left" valign="top" style="text-align:left;color:#333333;width:100%; border-bottom: 1px solid #cccccc; padding: 15px 5px 5px 5px;" class="col body-text itemSpacing">
									<table width="600" align="left">
											<tbody>
												<tr>
													<td style="padding-right: 10px; font-size: 48px; color: #1BA289;">
														{{this.title}}
													</td>
													<td class="body-text">
														 {{{this.text}}}
													</td>
												</tr>
											</tbody>
										</table>
										<p></p>
									</td>
								</tr>
							{{/ifEqual}}
						{{/if}}
						<!--START custom field tableInfo-->
						{{#if this.customFields.[0].tableInfo}}
							{{#ifEqual this.customFields.[0].tableInfo.[0] "tableTop"}}
								<tr>
									<td style="border-bottom: 1px solid #ececec;">

										<table>
											<tbody>
												<tr>
													<td style="font-family:  Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;padding-top: 10px; padding-bottom: 5px; text-transform: uppercase;color:#888888;">
													<div style="text-align: center;" class="headerline">{{{this.title}}}</div>

													</td>
												</tr>
											</tbody>
										</table>

									</td>
								</tr>
							{{/ifEqual}}
<!-- 							{{#ifEqual this.customFields.[0].tableInfo.[0] "tableInfoData1"}}
								<tr>
									<td style=" border-left: 1px solid #ececec; border-right: 1px solid #ececec;border-bottom: 1px solid #ececec;">
										<table width="14%" align="left">
											<tbody>
												<tr>
													<td style="padding-right: 20px; padding-left: 20px;  padding-top: 10px; padding-bottom: 10px; text-align: center;">
														{{#if this.title}}
														<span style="font-weight: bold; font-size: 14px; color: #666666; text-transform: uppercase; line-height: 14px;">{{{this.title}}}</span><br>
														{{/if}}
														<span style="font-weight: bold; font-size: 14px; color: #494949; text-transform: uppercase;line-height: 14px;">PhotoCredit: {{{this.photoCredit}}}</span><br>
														{
														<span style="font-size: 30px; color: #494949; text-transform: uppercase;line-height: 30px;">embed: {{this.customFields.[0].infoTableDate}}</span>
													</td>
												</tr>
											</tbody>
										</table>
										<table width="84%" align="left">
											<tbody>
												<tr>
													<td style="padding-left: 20px; padding-right: 20px;  padding-top: 10px; padding-bottom: 10px; border-left: 1px solid #ececec;">
														<div class="body-text">
																{{this.highlighter}}
																 {{this.customFields.[0].infoTableDate}}
															{{{this.text}}}
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							{{/ifEqual}} -->
						{{/if}}
						<!--END custom field tableInfo-->
					 {{/ifEqual}}
				{{/each}}
				{{/ifEqual}}
				{{/each}}
				<!-- END article1 section -->
				<!--START Advertisement 1-->
				{{#each sections}}
	              {{#ifEqual this.sectionId "ad1"}}
							{{#if this.items.[0]}}
					<tr>
							<td align="left" valign="top" style="text-align:left;color:#333333;width:100%; padding:  10px 0 0; " class="col body-text adSpacing">
										<table style="width:100%;max-width:600px;line-height:20px;  border-collapse:separate; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container advertisingLinks" bgcolor="#EDEDED" border="0" cellpadding="0" cellspacing="0">
											<tbody>
											<tr>
												<td colspan="2" bgcolor="#EDEDED" style="mso-line-height-rule:exactly;line-height:6px;font-size:6px; height: 6px;">&nbsp;</td>
											</tr>
											<tr>
												<td colspan="2"  text-align="center" bgcolor="#EDEDED"> <div style="font-size: 11px; text-align: center;font-family: Helvetica, Arial, sans-serif; color: #666666;"> Advertisement </div>
												</td>
											</tr>
											<tr>
												<td valign="top" style="padding-bottom:0px; border:5px solid #EDEDED; max-width: 125px" class="body-text container-padding">
													{{#if this.items.[0].imageUrl}}
													 <table style="min-width: 75px; mso-table-lspace:0;mso-table-rspace:0; display: inline;" align="left" border="0" cellpadding="0" cellspacing="0">
														 <tbody>
														 <tr><td style="padding-bottom: 0px; mso-table-lspace:0;mso-table-rspace:0;">
														<a href="{{{this.items.[0].url}}}"> <img alt="" src="{{{this.items.[0].imageUrl}}}" class="pattern" align="left"/></a>
														 </td></tr></tbody></table>
												 {{/if}}
												 </td>
												 <td class="body-text container-padding" style="border:5px solid #EDEDED;">
												{{{this.items.[0].summary}}}
												</td>
											</tr>
											<tr>
												<td colspan="2" style="mso-line-height-rule:exactly;line-height:10px;font-size:10px; height: 10px;" bgcolor="#EDEDED">&nbsp;</td>
											</tr>
											</tbody>
										</table>
									</td>
								</tr>
				{{/if}}
							{{/ifEqual}}
						{{/each}}
						<!--END Advertisement 1-->
				
				<!-- START article2 section -->
				{{#each sections}}
				{{#ifEqual this.sectionId "article2"}}
	            {{#each items}}
		            {{#ifEqual this.contentType "article"}}
						{{#if this.customFields.[0].tableRowDate}}
								<tr>
									<td style=" border-left: 1px solid #ececec; border-right: 1px solid #ececec;border-bottom: 1px solid #ececec;">
										<table width="14%" align="left">
											<tbody>
												<tr>
													<td style="padding-right: 20px; padding-left: 20px;  padding-top: 10px; padding-bottom: 10px; text-align: center;">
														{{#if this.title}}
														<span style="font-weight: bold; font-size: 14px; color: #666666; text-transform: uppercase; line-height: 14px;">{{{this.title}}}</span><br>
														{{/if}}
														<span style="font-weight: bold; font-size: 14px; color: #494949; text-transform: uppercase;line-height: 14px;">{{{this.embed}}}</span><br>
														<span style="font-size: 30px; color: #494949; text-transform: uppercase;line-height: 30px;">{{this.customFields.[0].tableRowDate}}</span>
													</td>
												</tr>
											</tbody>
										</table>
										<table width="84%" align="left">
											<tbody>
												<tr>
													<td style="padding-left: 20px; padding-right: 20px;  padding-top: 10px; padding-bottom: 10px; border-left: 1px solid #ececec;">
														<div class="body-text">
															{{{this.summary}}}
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
						{{else}}
						<tr>
							<td align="left" valign="top" style="text-align:left;color:#333333;width:100%; /*border:5px solid white; padding-bottom: 7px; */ padding:  15px 20px 0 20px; /*border-bottom: 1px solid #cccccc;*/" class="col body-text itemSpacing">
									{{#if this.imageUrl}}
										<table align="left">
											<tbody>
												<tr>
													<td style="padding-right: 5px; padding-bottom:5px;">
														<img width="110" height="62" alt="" src="{{{this.imageUrl}}}?W=110&H=62" class="pattern"  align="left"/>
													</td>
												</tr>
											</tbody>
										</table>
									{{/if}}
									<div class="body-text" style="{{#if this.imageUrl}}margin-left:130px;{{/if}}"><span class="title" style="font-weight: bold"><a href="{{{this.originalUrl}}}" style="font-size: 18px; color: #1976D2;">{{{this.title}}}</a></span>
									{{#if this.publisher}}<br>
									<i>{{this.publisher}}</i>
									{{/if}}
									{{#if this.summary}}
										<br /> {{{this.summary}}}
									{{/if}}
									</div>
									<p></p>
								</td>
							</tr>
						{{/if}}
		            {{/ifEqual}}

		            <!--SECTION HEADING-->
		            {{#ifEqual this.contentType "heading"}}
		            	<tr>
							<td align="left" style="font-family:  Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;color:#888888;padding-top: 0px; text-transform: uppercase; text-align: center; border:5px solid white;" class="header">
								<div class="headerLine">{{{this.title}}}</div>
							</td>
						</tr>
		            {{/ifEqual}}
		            <!--END SECTION HEADING-->

		            {{#ifEqual this.contentType "text"}}
						{{#if this.customFields.[0].richText1}}
						<tr>
							<td align="left" style="font-family:  Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;color:#888888;padding-top: 0px; text-transform: uppercase; text-align: center; border:5px solid white;" class="header">
							<div class="headerLine">{{this.title}}</div>{{{this.text}}}<br>

							</td>
						</tr>
						{{/if}}
			            {{#if this.customFields.[0].highlighter}}
			            	<tr>
								<td align="left" valign="top" style="text-align:left;color:#333333;width:100%; border:5px solid #f7e196; background-color:#f7e196;" class="col body-text itemSpacing">
									<div class="body-text">
										 {{{this.title}}}<br><br>
										 {{{this.text}}}<br><br>
										 {{{this.customFields.[0].highlighter}}}
									</div>
									<p></p>
								</td>
							</tr>
						{{/if}}
						{{#if this.customFields.[0].checkBox1}}
							{{#ifEqual this.customFields.[0].checkBox1.[0] "option1"}}
								<tr>
									<td align="left" style="font-family:  Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;color:#888888;padding-top: 0px; text-transform: uppercase; text-align: center; border:5px solid white;" class="header">
									<div class="headerLine">Checkbox Success One</div>
									</td>
								</tr>
							{{/ifEqual}}
							{{#ifEqual this.customFields.[0].checkBox1.[0] "option2"}}
								<tr>
									<td align="left" style="font-family:  Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;color:#888888;padding-top: 0px; text-transform: uppercase; text-align: center; border:5px solid white;" class="header">
									<div class="headerLine">Checkbox Success Two</div>
									</td>
								</tr>
							{{/ifEqual}}
							{{#ifEqual this.customFields.[0].checkBox1.[0] "highlighter"}}
								{{#if this.title}}
								<tr>
									<td align="left" style="font-family:  Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;color:#000000;padding-top: 10px; text-transform: uppercase; background-color:#f7e196; border:5px solid #f7e196;" class="header">
										<div class="headerline">{{{this.title}}}</div>
									</td>
								</tr>
								{{/if}}
								{{#if this.text}}
								<tr>
									<td align="left" valign="top" style="text-align:left;color:#333333;width:100%; border:5px solid #f7e196; background-color:#f7e196;" class="col body-text itemSpacing">
										<div class="body-text">
											 {{{this.text}}}
										</div>
										<p></p>
									</td>
								</tr>
								{{/if}}
							{{/ifEqual}}
							{{#ifEqual this.customFields.[0].checkBox1.[0] "featureBox"}}
								<tr>
									<td align="left" valign="top" style="color:#333333;width:100%;  background-color:#ffffff;" class="col body-text itemSpacing">
									<p></p>
									<table align="center" style="width:100%; max-width: 600px;line-height:20px;  border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container advertisingLinks" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
											<tbody>
											<tr>
									<td style="border:5px solid #EFEDED; padding: 20px;text-align:center;">
										<div class="headerLine" style="text-transform: none; padding-top: 0; padding-bottom: 20px;">{{{this.title}}}</div>
											<div style="text-align: left;" class="featureBox body-text">
												{{{this.text}}}
											</div>
											{{#if this.imageUrl}}
											<br>
											<div class="body-text">
												 Sincerely,
											</div>
											<img style="max-width: 200px;" src="{{{this.imageUrl}}}">
											<p></p>
											{{/if}}
											</td>
											</tr>
										</tbody>
										</table>
									</td>
								</tr>
							{{/ifEqual}}
							{{#ifEqual this.customFields.[0].checkBox1.[0] "featuredData"}}
								<tr>
									<td align="left" valign="top" style="text-align:left;color:#333333;width:100%; border-bottom: 1px solid #cccccc; padding: 15px 5px 5px 5px;" class="col body-text itemSpacing">
									<table width="600" align="left">
											<tbody>
												<tr>
													<td style="padding-right: 10px; font-size: 48px; color: #1BA289;">
														{{this.title}}
													</td>
													<td class="body-text">
														 {{{this.text}}}
													</td>
												</tr>
											</tbody>
										</table>
										<p></p>
									</td>
								</tr>
							{{/ifEqual}}
						{{/if}}
						<!--START custom field tableInfo-->
						{{#if this.customFields.[0].tableInfo}}
							{{#ifEqual this.customFields.[0].tableInfo.[0] "tableTop"}}
								<tr>
									<td style="border-bottom: 1px solid #ececec;">

										<table>
											<tbody>
												<tr>
													<td style="font-family:  Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;padding-top: 10px; padding-bottom: 5px; text-transform: uppercase;color:#888888;">
													<div style="text-align: center;" class="headerline">{{{this.title}}}</div>

													</td>
												</tr>
											</tbody>
										</table>

									</td>
								</tr>
							{{/ifEqual}}
							{{#ifEqual this.customFields.[0].tableInfo.[0] "tableInfoData1"}}
								<tr>
									<td style=" border-left: 1px solid #ececec; border-right: 1px solid #ececec;border-bottom: 1px solid #ececec;">
										<table width="14%" align="left">
											<tbody>
												<tr>
													<td style="padding-right: 20px; padding-left: 20px;  padding-top: 10px; padding-bottom: 10px; text-align: center;">
														{{#if this.title}}
														<span style="font-weight: bold; font-size: 14px; color: #666666; text-transform: uppercase; line-height: 14px;">{{{this.title}}}</span><br>
														{{/if}}
														<span style="font-weight: bold; font-size: 14px; color: #494949; text-transform: uppercase;line-height: 14px;">PhotoCredit: {{{this.photoCredit}}}</span><br>
														{
														<span style="font-size: 30px; color: #494949; text-transform: uppercase;line-height: 30px;">embed: {{this.customFields.[0].infoTableDate}}</span>
													</td>
												</tr>
											</tbody>
										</table>
										<table width="84%" align="left">
											<tbody>
												<tr>
													<td style="padding-left: 20px; padding-right: 20px;  padding-top: 10px; padding-bottom: 10px; border-left: 1px solid #ececec;">
														<div class="body-text">
																{{this.highlighter}}
																 {{this.customFields.[0].infoTableDate}}
															{{{this.text}}}
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							{{/ifEqual}}
						{{/if}}
						<!--END custom field tableInfo-->
					 {{/ifEqual}}
				{{/each}}
				{{/ifEqual}}
				{{/each}}
				<!-- END article2 section -->
				
				<!--START Advertisement 2-->
				{{#each sections}}
	              {{#ifEqual this.sectionId "ad2"}}
	              {{#if this.items.[0]}}
						<tr>
						  	<td align="left" valign="top" style="text-align:left;color:#333333;width:100%; padding:  10px 0 0; " class="col body-text adSpacing">
											<table style="width:100%;max-width:600px;line-height:20px;  border-collapse:separate; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container advertisingLinks" bgcolor="#EDEDED" border="0" cellpadding="0" cellspacing="0">
												<tbody>
												<tr>
													<td colspan="2" bgcolor="#EDEDED" style="mso-line-height-rule:exactly;line-height:6px;font-size:6px; height: 6px;">&nbsp;</td>
												</tr>
												<tr>
													<td colspan="2"  text-align="center" bgcolor="#EDEDED"> <div style="font-size: 11px; text-align: center;font-family: Helvetica, Arial, sans-serif; color: #666666;"> Advertisement </div>
													</td>
												</tr>
												<tr>
													<td valign="top" style="padding-bottom:0px; border:5px solid #EDEDED; max-width: 125px" class="body-text container-padding">
												    {{#if this.items.[0].imageUrl}}
													   <table style="min-width: 75px; mso-table-lspace:0;mso-table-rspace:0; display: inline;" align="left" border="0" cellpadding="0" cellspacing="0">
														   <tbody>
														   <tr><td style="padding-bottom: 0px; mso-table-lspace:0;mso-table-rspace:0;">
															<a href="{{{this.items.[0].url}}}"> <img alt="" src="{{{this.items.[0].imageUrl}}}" class="pattern" align="left"/></a>
														   </td></tr></tbody></table>
												   {{/if}}
												   </td>
												   <td class="body-text container-padding" style="border:5px solid #EDEDED;">
												  {{{this.items.[0].summary}}}
													</td>
												</tr>
												<tr>
													<td colspan="2" style="mso-line-height-rule:exactly;line-height:10px;font-size:10px; height: 10px;" bgcolor="#EDEDED">&nbsp;</td>
												</tr>
												</tbody>
											</table>
										</td>
									</tr>
				  {{/if}}
	              {{/ifEqual}}
	            {{/each}}
	            <!--END Advertisement 2-->
				
				
	            <!-- START article3 section -->
				{{#each sections}}
				{{#ifEqual this.sectionId "article3"}}
	            {{#each items}}
		            {{#ifEqual this.contentType "article"}}
						{{#if this.customFields.[0].tableRowDate}}
								<tr>
									<td style=" border-left: 1px solid #ececec; border-right: 1px solid #ececec;border-bottom: 1px solid #ececec;">
										<table width="14%" align="left">
											<tbody>
												<tr>
													<td style="padding-right: 20px; padding-left: 20px;  padding-top: 10px; padding-bottom: 10px; text-align: center;">
														{{#if this.title}}
														<span style="font-weight: bold; font-size: 14px; color: #666666; text-transform: uppercase; line-height: 14px;">{{{this.title}}}</span><br>
														{{/if}}
														<span style="font-weight: bold; font-size: 14px; color: #494949; text-transform: uppercase;line-height: 14px;">{{{this.embed}}}</span><br>
														<span style="font-size: 30px; color: #494949; text-transform: uppercase;line-height: 30px;">{{this.customFields.[0].tableRowDate}}</span>
													</td>
												</tr>
											</tbody>
										</table>
										<table width="84%" align="left">
											<tbody>
												<tr>
													<td style="padding-left: 20px; padding-right: 20px;  padding-top: 10px; padding-bottom: 10px; border-left: 1px solid #ececec;">
														<div class="body-text">
															{{{this.summary}}}
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
						{{else}}
						<tr>
							<td align="left" valign="top" style="text-align:left;color:#333333;width:100%; /*border:5px solid white; padding-bottom: 7px; */ padding:  15px 5px 5px 5px; border-bottom: 1px solid #cccccc;" class="col body-text itemSpacing">
									{{#if this.imageUrl}}
										<table align="left">
											<tbody>
												<tr>
													<td style="padding-right: 5px; padding-bottom:5px;">
														<img width="225" height="125" alt="" src="{{{this.imageUrl}}}?W=225&H=125" class="pattern"  align="left"/>
													</td>
												</tr>
											</tbody>
										</table>
									{{/if}}
									<div class="body-text" style="{{#if this.imageUrl}}margin-left:234px;{{/if}}"><span class="title" style="font-weight: bold"><a href="{{{this.originalUrl}}}">{{{this.title}}}</a></span>
									{{#if this.publisher}}
									<i>{{this.publisher}}</i>
									{{/if}}
									{{#if this.summary}}
										<br /> {{{this.summary}}}
									{{/if}}
									</div>
									<p></p>
								</td>
							</tr>
						{{/if}}
						{{/ifEqual}}
		            <!--START contentType heading-->
		            {{#ifEqual this.contentType "heading"}}
		            	<tr>
							<td align="left" style="font-family:  Helvetica, Arial, sans-serif;font-size:14px;font-weight:bold;color:#888888;padding-top: 0px; text-transform: uppercase; text-align: center; border:5px solid white; height: 40px; vertical-align: bottom;" class="header">
								<div class="headerLine">{{{this.title}}}</div>
							</td>
						</tr>
		            {{/ifEqual}}
		            <!--END contentType heading-->
		            <!-- START contentype text -->
		            {{#ifEqual this.contentType "text"}}
						{{#if this.customFields.[0].checkBox1}}
							{{#ifEqual this.customFields.[0].checkBox1.[0] "option1"}}
								<tr>
									<td align="left" style="font-family:  Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;color:#888888;padding-top: 0px; text-transform: uppercase; text-align: center; border:5px solid white;" class="header">
									<div class="headerLine">Checkbox Success One</div>
									</td>
								</tr>
							{{/ifEqual}}
							{{#ifEqual this.customFields.[0].checkBox1.[0] "textBoxPlain"}}
								<tr>
									<td align="left" valign="top" style="text-align:left;color:#333333;width:100%; padding: 15px 5px 5px 5px;border-bottom: 1px solid #cccccc;" class="col body-text itemSpacing">
										<div class="body-text">
											 {{{this.text}}}
										</div>
										<p></p>
									</td>
								</tr>
							{{/ifEqual}}
							{{#ifEqual this.customFields.[0].checkBox1.[0] "highlighter"}}
								{{#if this.title}}
								<tr>
									<td align="left" style="font-family:  Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;color:#000000;padding-top: 10px; text-transform: uppercase; background-color:#f7e196; border:5px solid #f7e196;" class="header">
										<div class="headerline" style="border: 5px solid #f7e196">{{{this.title}}}</div>
									</td>
								</tr>
								{{/if}}
								{{#if this.text}}
								<tr>
									<td align="left" valign="top" style="text-align:left;color:#333333;width:100%; border:5px solid #f7e196; background-color:#f7e196;" class="col body-text itemSpacing">
										<div class="body-text">
											 {{{this.text}}}
										</div>
										<p></p>
									</td>
								</tr>
								{{/if}}
							{{/ifEqual}}
							{{#ifEqual this.customFields.[0].checkBox1.[0] "featureBox"}}
								<tr>
									<td align="left" valign="top" style="color:#333333;width:100%;  background-color:#ffffff; padding: 20px; padding-top:10px;" class="col body-text itemSpacing">
									<table align="center" style="width:100%; max-width: 600px;line-height:20px;  border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container advertisingLinks" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
											<tbody>
											<tr>
									<td style="/*border:5px solid #EFEDED*/;text-align:center;">
											{{#if this.title}}
												<div class="headerLine" style="text-transform: none; padding-top: 0; padding-bottom: 20px;">{{{this.title}}}</div>
											{{/if}}
										
											<div style="text-align: left;" class="featureBox body-text">
												{{{this.text}}}
											</div>
											{{#if this.imageUrl}}
											<br>
											<div class="body-text">
												 Sincerely,
											</div>
											<img style="max-width: 200px;" src="{{{this.imageUrl}}}">
											<p></p>
											{{/if}}
											</td>
											</tr>
										</tbody>
										</table>
									</td>
								</tr>
							{{/ifEqual}}
							{{#ifEqual this.customFields.[0].checkBox1.[0] "featuredData"}}
								<tr>
									<td align="left" valign="top" style="text-align:left;color:#333333;width:100%; border-bottom: 1px solid #cccccc; padding: 15px 5px 5px 5px;" class="col body-text itemSpacing">
									<table width="600" align="left">
											<tbody>
												<tr>
													<td style="padding-right: 10px; font-size: 48px; color: #1BA289;">
														{{this.title}}
													</td>
													<td class="body-text">
														 {{{this.text}}}
													</td>
												</tr>
											</tbody>
										</table>
										<p></p>
									</td>
								</tr>
							{{/ifEqual}}
						{{/if}}
						<!--START custom field tableInfo-->
						{{#if this.customFields.[0].tableInfo}}
							{{#ifEqual this.customFields.[0].tableInfo.[0] "tableTop"}}
								<tr>
									<td style="border-bottom: 1px solid #ececec;">

										<table>
											<tbody>
												<tr>
													<td style="font-family:  Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;padding-top: 10px; padding-bottom: 5px; text-transform: uppercase;color:#888888;">
													<div style="text-align: center;" class="headerline">{{{this.title}}}</div>

													</td>
												</tr>
											</tbody>
										</table>

									</td>
								</tr>
							{{/ifEqual}}
							{{#ifEqual this.customFields.[0].tableInfo.[0] "tableRow"}}
								<tr>
									<td style=" border-left: 1px solid #ececec; border-right: 1px solid #ececec;border-bottom: 1px solid #ececec;">
										<table width="14%" align="left">
											<tbody>
												<tr>
													<td style="padding-right: 20px; padding-left: 20px;  padding-top: 10px; padding-bottom: 10px; text-align: center;">
														{{#if this.title}}
														<span style="font-weight: bold; font-size: 14px; color: #666666; text-transform: uppercase; line-height: 14px;">{{{this.title}}}</span><br>
														{{/if}}
														<span style="font-weight: bold; font-size: 14px; color: #494949; text-transform: uppercase;line-height: 14px;">PhotoCredit: {{{this.photoCredit}}}</span><br>
														{
														<span style="font-size: 30px; color: #494949; text-transform: uppercase;line-height: 30px;">embed: {{this.customFields.[0].infoTableDate}}</span>
													</td>
												</tr>
											</tbody>
										</table>
										<table width="84%" align="left">
											<tbody>
												<tr>
													<td style="padding-left: 20px; padding-right: 20px;  padding-top: 10px; padding-bottom: 10px; border-left: 1px solid #ececec;">
														<div class="body-text">
																{{this.highlighter}}
																 {{this.customFields.[0].infoTableDate}}
															{{{this.text}}}
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							{{/ifEqual}}
						{{/if}}
						<!--END custom field tableInfo-->
					 {{/ifEqual}}
					 <!-- END contentType text -->
				{{/each}}
				{{/ifEqual}}
				{{/each}}
				<!-- END article3 section -->
				
				<!--START Advertisement 3-->
				{{#each sections}}
	              {{#ifEqual this.sectionId "ad3"}}
	              {{#if this.items.[0]}}
						<tr>
						  	<td align="left" valign="top" style="text-align:left;color:#333333;width:100%; padding: 0; " class="col body-text adSpacing">
											<table style="width:100%;max-width:600px;line-height:20px;  border-collapse:separate; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container advertisingLinks" bgcolor="#EDEDED" border="0" cellpadding="0" cellspacing="0">
												<tbody>
												<tr>
													<td colspan="2" bgcolor="#EDEDED" style="mso-line-height-rule:exactly;line-height:6px;font-size:6px; height: 6px;">&nbsp;</td>
												</tr>
												<tr>
													<td colspan="2"  text-align="center" bgcolor="#EDEDED"> <div style="font-size: 11px; text-align: center;font-family: Helvetica, Arial, sans-serif; color: #666666;"> Advertisement </div>
													</td>
												</tr>
												<tr>
													<td valign="top" style="padding-bottom:0px; border:5px solid #EDEDED; max-width: 125px" class="body-text container-padding">
												    {{#if this.items.[0].imageUrl}}
													   <table style="min-width: 75px; mso-table-lspace:0;mso-table-rspace:0; display: inline;" align="left" border="0" cellpadding="0" cellspacing="0">
														   <tbody>
														   <tr><td style="padding-bottom: 0px; mso-table-lspace:0;mso-table-rspace:0;">
															<a href="{{{this.items.[0].url}}}"> <img alt="" src="{{{this.items.[0].imageUrl}}}" class="pattern" align="left"/></a>
														   </td></tr></tbody></table>
												   {{/if}}
												   </td>
												   <td class="body-text container-padding" style="border:5px solid #EDEDED;">
												  {{{this.items.[0].summary}}}
													</td>
												</tr>
												<tr>
													<td colspan="2" style="mso-line-height-rule:exactly;line-height:10px;font-size:10px; height: 10px;" bgcolor="#EDEDED">&nbsp;</td>
												</tr>
												</tbody>
											</table>
										</td>
									</tr>
				  {{/if}}
	              {{/ifEqual}}
	            {{/each}}
	            <!--END Advertisement 3-->
				
				<!--START Advertisement 4-->
				{{#each sections}}
	              {{#ifEqual this.sectionId "ad4"}}
	              {{#if this.items.[0]}}
						<tr>
						  	<td align="left" valign="top" style="text-align:left;color:#333333;width:100%; padding: 5px; " class="col body-text adSpacing">
											<table style="width:100%;max-width:600px;line-height:20px;  border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container advertisingLinks" bgcolor="#EDEDED" border="0" cellpadding="0" cellspacing="0">
												<tbody>
												<tr>
													<td colspan="2" bgcolor="#ffffff" style="mso-line-height-rule:exactly;line-height:6px;font-size:6px; height: 6px;">&nbsp;</td>
												</tr>
												<tr>
													<td colspan="2"  text-align="center" bgcolor="#ffffff"> <div style="font-size: 11px; text-align: center;font-family: Helvetica, Arial, sans-serif; color: #666666;"> Advertisement </div>
													</td>
												</tr>
												<tr>
													<td valign="top" style="padding-bottom:0px; border:5px solid #EDEDED; max-width: 125px" class="body-text container-padding">
												    {{#if this.items.[0].imageUrl}}
													   <table style="min-width: 75px; mso-table-lspace:0;mso-table-rspace:0; display: inline;" align="left" border="0" cellpadding="0" cellspacing="0">
														   <tbody>
														   <tr><td style="padding-bottom: 0px; mso-table-lspace:0;mso-table-rspace:0;">
															<a href="{{{this.items.[0].url}}}"> <img alt="" src="{{{this.items.[0].imageUrl}}}" class="pattern" align="left"/></a>
														   </td></tr></tbody></table>
												   {{/if}}
												   </td>
												   <td class="body-text container-padding" style="border:5px solid #EDEDED;">
												  {{{this.items.[0].summary}}}
													</td>
												</tr>
												<tr>
													<td colspan="2" style="mso-line-height-rule:exactly;line-height:10px;font-size:10px; height: 10px;" bgcolor="#ffffff">&nbsp;</td>
												</tr>
												</tbody>
											</table>
										</td>
									</tr>
				  {{/if}}
	              {{/ifEqual}}
	            {{/each}}
	            <!--END Advertisement 4-->
	            
	            <!-- START article4 section -->
				{{#each sections}}
				{{#ifEqual this.sectionId "article4"}}
	            {{#each items}}
		            {{#ifEqual this.contentType "article"}}
						{{#if this.customFields.[0].tableRowDate}}
								<tr>
									<td style=" border-left: 1px solid #ececec; border-right: 1px solid #ececec;border-bottom: 1px solid #ececec;">
										<table width="14%" align="left">
											<tbody>
												<tr>
													<td style="padding-right: 20px; padding-left: 20px;  padding-top: 10px; padding-bottom: 10px; text-align: center;">
														{{#if this.title}}
														<span style="font-weight: bold; font-size: 14px; color: #666666; text-transform: uppercase; line-height: 14px;">{{{this.title}}}</span><br>
														{{/if}}
														<span style="font-weight: bold; font-size: 14px; color: #494949; text-transform: uppercase;line-height: 14px;">{{{this.embed}}}</span><br>
														<span style="font-size: 30px; color: #494949; text-transform: uppercase;line-height: 30px;">{{this.customFields.[0].tableRowDate}}</span>
													</td>
												</tr>
											</tbody>
										</table>
										<table width="84%" align="left">
											<tbody>
												<tr>
													<td style="padding-left: 20px; padding-right: 20px;  padding-top: 10px; padding-bottom: 10px; border-left: 1px solid #ececec;">
														<div class="body-text">
															{{{this.summary}}}
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
						{{else}}
						<tr>
							<td align="left" valign="top" style="text-align:left;color:#333333;width:100%; /*border:5px solid white; padding-bottom: 7px; */ padding:  10px 5px 5px 5px; border-bottom: 1px solid #cccccc;" class="col body-text itemSpacing">
									{{#if this.imageUrl}}
										<table align="left">
											<tbody>
												<tr>
													<td style="padding-right: 5px; padding-bottom:5px;">
														<img width="225" height="125" alt="" src="{{{this.imageUrl}}}?W=225&H=125" class="pattern"  align="left"/>
													</td>
												</tr>
											</tbody>
										</table>
									{{/if}}
									<div class="body-text" style="{{#if this.imageUrl}}margin-left:234px;{{/if}}"><span class="title" style="font-weight: bold"><a href="{{{this.originalUrl}}}">{{{this.title}}}</a></span>
									{{#if this.publisher}}
									<i>{{this.publisher}}</i>
									{{/if}}
									{{#if this.summary}}
										{{{this.summary}}}
									{{/if}}
									</div>
									<p></p>
								</td>
							</tr>
						{{/if}}
		            {{/ifEqual}}
		            <!--START contentType heading-->
		            {{#ifEqual this.contentType "heading"}}
		            	<tr>
							<td align="left" style="font-family:  Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;color:#888888;padding-top: 0px; text-transform: uppercase; text-align: center; border:5px solid white;" class="header">
								<div class="headerLine">{{{this.title}}}</div>
							</td>
						</tr>
		            {{/ifEqual}}
		            <!--END contentType heading-->
		            <!-- START contentype text -->
		            {{#ifEqual this.contentType "text"}}
						{{#if this.customFields.[0].checkBox1}}
							{{#ifEqual this.customFields.[0].checkBox1.[0] "option1"}}
								<tr>
									<td align="left" style="font-family:  Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;color:#888888;padding-top: 0px; text-transform: uppercase; text-align: center; border:5px solid white;" class="header">
									<div class="headerLine">Checkbox Success One</div>
									</td>
								</tr>
							{{/ifEqual}}
							{{#ifEqual this.customFields.[0].checkBox1.[0] "textBoxPlain"}}
								<tr>
									<td align="left" valign="top" style="text-align:left;color:#333333;width:100%; padding: 10px 5px 5px 5px;border-bottom: 1px solid #cccccc;" class="col body-text itemSpacing">
										<div class="body-text">
											 {{{this.text}}}
										</div>
										<p></p>
									</td>
								</tr>
							{{/ifEqual}}
							{{#ifEqual this.customFields.[0].checkBox1.[0] "highlighter"}}
								{{#if this.title}}
								<tr>
									<td align="left" style="font-family:  Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;color:#000000;padding-top: 10px; text-transform: uppercase; background-color:#f7e196; border:5px solid #f7e196;" class="header">
										<div class="headerline" style="border: 5px solid #f7e196">{{{this.title}}}</div>
									</td>
								</tr>
								{{/if}}
								{{#if this.text}}
								<tr>
									<td align="left" valign="top" style="text-align:left;color:#333333;width:100%; border:5px solid #f7e196; background-color:#f7e196;" class="col body-text itemSpacing">
										<div class="body-text">
											 {{{this.text}}}
										</div>
										<p></p>
									</td>
								</tr>
								{{/if}}
							{{/ifEqual}}
							{{#ifEqual this.customFields.[0].checkBox1.[0] "featureBox"}}
								<tr>
									<td align="left" valign="top" style="color:#333333;width:100%;  background-color:#ffffff; border-bottom: 1px solid #e1e1e1; padding: 20px;" class="col body-text itemSpacing">
									<table align="center" style="width:100%; max-width: 600px;line-height:20px;  border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="container advertisingLinks" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
											<tbody>
											<tr>
									<td style="/*border:5px solid #EFEDED;*/;text-align:center;">
											{{#if this.title}}
												<div class="headerLine" style="text-transform: none; padding-top: 0; padding-bottom: 20px;">{{{this.title}}}</div>
											{{/if}}
											<div style="text-align: left;" class="featureBox body-text">
												{{{this.text}}}
											</div>
											{{#if this.imageUrl}}
											<br>
											<div class="body-text">
												 Sincerely,
											</div>
											<img style="max-width: 200px;" src="{{{this.imageUrl}}}">
											<p></p>
											{{/if}}
											</td>
											</tr>
										</tbody>
										</table>
									</td>
								</tr>
							{{/ifEqual}}
							{{#ifEqual this.customFields.[0].checkBox1.[0] "featuredData"}}
								<tr>
									<td align="left" valign="top" style="text-align:left;color:#333333;width:100%; border-bottom: 1px solid #cccccc; padding: 10px 5px 5px 5px;" class="col body-text itemSpacing">
									<table width="600" align="left">
											<tbody>
												<tr>
													<td style="padding-right: 10px; font-size: 48px; color: #1BA289;">
														{{this.title}}
													</td>
													<td class="body-text">
														 {{{this.text}}}
													</td>
												</tr>
											</tbody>
										</table>
										<p></p>
									</td>
								</tr>
							{{/ifEqual}}
						{{/if}}
						<!--START custom field tableInfo-->
						{{#if this.customFields.[0].tableInfo}}
							{{#ifEqual this.customFields.[0].tableInfo.[0] "tableTop"}}
								<tr>
									<td style="border-bottom: 1px solid #ececec;">

										<table>
											<tbody>
												<tr>
													<td style="font-family:  Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;padding-top: 10px; padding-bottom: 5px; text-transform: uppercase;color:#888888;">
													<div style="text-align: center;" class="headerline">{{{this.title}}}</div>

													</td>
												</tr>
											</tbody>
										</table>

									</td>
								</tr>
							{{/ifEqual}}
							{{#ifEqual this.customFields.[0].tableInfo.[0] "tableInfoData1"}}
								<tr>
									<td style=" border-left: 1px solid #ececec; border-right: 1px solid #ececec;border-bottom: 1px solid #ececec;">
										<table width="14%" align="left">
											<tbody>
												<tr>
													<td style="padding-right: 20px; padding-left: 20px;  padding-top: 10px; padding-bottom: 10px; text-align: center;">
														{{#if this.title}}
														<span style="font-weight: bold; font-size: 14px; color: #666666; text-transform: uppercase; line-height: 14px;">{{{this.title}}}</span><br>
														{{/if}}
														<span style="font-weight: bold; font-size: 14px; color: #494949; text-transform: uppercase;line-height: 14px;">PhotoCredit: {{{this.photoCredit}}}</span><br>
														{
														<span style="font-size: 30px; color: #494949; text-transform: uppercase;line-height: 30px;">embed: {{this.customFields.[0].infoTableDate}}</span>
													</td>
												</tr>
											</tbody>
										</table>
										<table width="84%" align="left">
											<tbody>
												<tr>
													<td style="padding-left: 20px; padding-right: 20px;  padding-top: 10px; padding-bottom: 10px; border-left: 1px solid #ececec;">
														<div class="body-text">
																{{this.highlighter}}
																 {{this.customFields.[0].infoTableDate}}
															{{{this.text}}}
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							{{/ifEqual}}
						{{/if}}
						<!--END custom field tableInfo-->
					 {{/ifEqual}}
					 <!-- END contentType text -->
				{{/each}}
				{{/ifEqual}}
				{{/each}}
				<!-- END article4 section -->
    			</table>
    		</td>
    	</tr>
    </tbody>
</table>
